.mylist__title {
    font-size: 4rem;
    text-align: center;
}

.mylist__item--container {
    width: 80%;
    height: 200px;
    margin: 0 auto;
}

.mylist__item {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    display: grid;
    grid-template-areas: "bg details controls";
    grid-template-columns: 30% 50% 20%;
    background: #202020;
    margin: 20px 0;
}

.mylist__item--bg {
    grid-area: bg;
    border-radius: 20px;
    background: rebeccapurple;
}

.mylist__background--img {
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.mylist__item--details {
    padding: 40px 0 0 30px;
}